body {
  background-color: #cbd5e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#head {
  user-select: none;
  color: white;
  margin-bottom: auto;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2ch;
  font-size: 3rem;
  font-weight: bold;
  background-color: #fc4a1a;
  -webkit-user-drag: none;
}

#foot {
  user-select: none;
  height: 50px;
  width: 100%;
  margin-top: auto;
  background-color: #f7b733;
  -webkit-user-drag: none;
}

#content {
  display: flex;
  gap: 3rem;
}

.board {
  display: grid;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  &:first-of-type {
    .cell {
      cursor: default;
    }
  }
  &:nth-of-type(even) {
    .cell:not(.hit, .missed, .sunk):hover {
      background-color: grey;
    }
  }
  
  .cell {
    border: 1px solid black;
    user-select: none;
    cursor: pointer;
    .ship-cell {
      width: 100%;
      height: 100%;
      &[data-shipcell="2"] {
        background-color: #a3e635;
      }
      &[data-shipcell="3"] {
        background-color: #4ade80;
      }
      &[data-shipcell="4"] {
        background-color: #2dd4bf;
      }
      &[data-shipcell="5"] {
        background-color: #818cf8;
      }
    }
    &.hit {
      cursor: default;
      background-color: red;
      .ship-cell {
        background-color: inherit;
      }
      &.explode {
        background-image: url('https://i.gifer.com/origin/a0/a07ad08920f303f655251b1a0b353b86_w200.gif');
        background-size: 100% 100%;
        .ship-cell {
          background-image: inherit;
          background-size: inherit;
        }
      }
    }
    &.missed {
      background-color: #0077ff;
    }
    &.sunk {
      cursor: default;
      background-image: url('https://cdn-icons-png.flaticon.com/512/3389/3389149.png');
      background-size: 100% 100%;
      .ship-cell {
        background-image: inherit;
        background-size: inherit;
      }
    }
    &.blocked {
      background-image: url('https://cdn-icons-png.flaticon.com/512/718/718672.png');
      background-size: 100% 100%;
    }
    &.dragHover {
        background-color: grey;
    }
  }
}

.all-ships {
  -webkit-user-drag: none;
  border-radius: 15px;
  border: 2px solid black;
  width: 375px;
  height: 425px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  background-color: #dfdce3;
  position: relative;
  align-items: flex-start;
  padding: 3rem 1rem 1rem 1rem;
  transition: 200ms ease-out;
  &.fade-out {
    transform: scale(0);
  }
  &.vertical {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  #axis-btn {
    user-select: none;
    position: absolute;
    top: 1rem;
    background-color: orangered;    
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    border: none;
    border-radius: 100vmax;
    align-self: center;
    width: 50%;
    height: 40px;
    justify-self: center;
    transition: 200ms ease-in transform;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    &:hover {
      transform: scale(1.1);
      background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
    }
  }
  .ship-container {
    display: flex;
    cursor: pointer;
    &.vertical {
      flex-direction: column;
    }
    &[data-ship] .ship-cell{
        border: 1px solid black;
        background-color: inherit;
        width: 50px;
        height: 50px;
    }
    &[data-ship="2"] {
      border: 1px solid black;
      background-color: #a3e635;
    }
    &[data-ship="3"] {
      border: 1px solid black;
      background-color: #4ade80;
    }
    &[data-ship="4"] {
      border: 1px solid black;
      background-color: #2dd4bf;
    }
    &[data-ship="5"] {
      border: 1px solid black;
      background-color: #818cf8;
    }
    &.dragging {
        visibility: hidden;
    }
  }
}

